.SearchBar__wrapper {
  border-radius: 0.125rem;
  input {
    padding: 0.3rem;
    border: none;
    outline: none;
  }
  button {
    padding: 0.4rem 0.3rem;
    margin-left: 0.25rem;
    border: none;
    transition: 0.75s ease;
    background-color: #ffde5c;
    font-weight: 800;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  display: flex;
  justify-content: center;
}

.SearchBar {
  border: 1.5px solid black;
  border-radius: 0.15rem;
  width: 100%;
  padding: 0.45rem 0.25rem;
  background-color: white;
}
